body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica;
}

#page-title h2 {
	font-family: Arial;
}

.page-node-146 h1#page-title {
    display: none;
}

#main-menu-links a {
    background: none repeat scroll 0 0 #E5F9AA;
}

#footer ul {
   margin-left: auto;
   margin-right: auto;
   width: 600px;
}

#footer {
	margin-top: 0px;
	border-top: 0px;
	font-size: 1.18em;
}

#main-menu {
	font-size: 1.15em;
}

h3 {
	color: #002652;
	font-size:20px;
}

#breadcrumb .breadcrumb {
	display:none;
}

#footer-wrapper {
	padding-top: 3px;
}

#main {
	margin-bottom: 0px;
}

#block-block-3 {
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	background-color: #E8E8E8;
}

#block-block-3 h2 {
	color: #002652;
	font-size: 1.19em;
}

.page-exercises a#main-content {
	width: 300px;
}

.views-table {
	font-size:14px;
}
.views-table thead {
	display:none;
}

#standards {
		font-size:14px;
}

